body {
    width: 100%;
    margin: 2%;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
}

.menu_button {
    background-color: #0972D3;
    height: 60px;
    width: 60px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: 2%;
    right: 2%;
}

.menu_button img {
    height: 20px;
    width: 20px;
}

.header__main_text {
    font-size: 32px;
    font-weight:800;
}

.sub_title {
    font-size: 14px;
    font-weight:400;
}

.filters {
    margin-top: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px lightgrey;
    width: 90%;
}

.filters__main_block {
    width: 100%;
}

.filters__titles {
    margin: 1%;
    float: left;
}

.filters__buttons {
    margin: 2%;
    float: right;
}

.filters__main_text {
    font-size: 24px;
    font-weight:800;
}

.filters__button_white {
    border: 2px solid #0972D3;
    display: inline-block;
    border-radius: 40px;
    color: #0972D3;
    font-style: 14px;
    font-weight: 800;
    padding: 6px 22px;
    margin-right: 10px;
}

.filters__button_blue {
    background: #0972D3;
    color: white;
}

.container {
    border-radius: 10px;
    background-color: #E9EBED;
    margin: 1%;
    padding: 1%;
    display: inline-block;
    width: 96%;
}

.tag_text {
    border: 2px solid #7D8998;
    border-radius: 8px;
    padding: 8px 22px;
    background-color: #F4F4F4;
    display: inline-block;
    margin-right: 25px;
}


