.header__main_text {
    font-size: 32px;
    font-weight:800;
}

body {
    width: 100%;
    margin: 2%;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
    background-color: #F8F8F8;
}

.choose_reservoir {
    margin-top: 10px;
    display: inline-block;
}

.choose_reservoir__button {
    display: inline-block;
    border-radius: 40px;
    background-color: #033160;
    color: white;
    font-style: 14px;
    font-weight: 800;
    padding: 6px 22px;
    margin-right: 25px;
}

.reservoir_view {
    margin-top: 40px;
    width: 680px;
    height: 530px;
}

.container {
    border-radius: 0px;
    margin: 1%;
    padding: 1%;
    display: inline-block;
    width: 55%;
}

.tag_text {
    width: 250px;
    box-shadow: 0px 1px 14px rgba(0, 7, 22, 0.14), 0px 0px 4px rgba(65, 77, 92, 0.2);
    border-radius: 16px;
    padding: 8px 22px;
    background-color: F8F8F8;
    display: inline-block;
    margin-right: 25px;
    color: #0972D3;
    font-style: 16px;
    font-weight: 400;
    text-align: center; 
    cursor: pointer;
}

a {
    text-decoration: none;
  }
  
li {
      list-style-type: none;
}
  
ul {
    padding: 0;
}

p {
    margin: 0;
}

.menubtn {
    position: absolute;
    right: 2%;
    top: 5%;    
    width: 60px;
    height: 60px;
    display: flex;
    background-image: url("Button.svg");
    border: none;
    outline: none;
    border-radius: 50%;
}

.menu {
    display: none;
}
  
.show-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 20px;
    gap: 18px;
    width: 280px;
    height: 953px;
    background: #F8F8F8;
    box-shadow: 0px 6px 36px rgba(0, 7, 22, 0.1), 0px 1px 1px rgba(233, 235, 237, 0.4);
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;
}

.headmenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px 0px;
    gap: 20px;
    width: 280px;
    height: 24px;
}

.headmenu p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    margin-left: 26px;
}

.str {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #414D5C;
    margin-left: 28px;
    margin-bottom: 10px;
}

.line1 {
    width: 280px;
    height: 2px;
    background: #E9EBED;
    margin-top: 20px;
}

.line2 {
    width: 280px;
    height: 2px;
    background: #E9EBED;
    margin-top: 20px;
}

.information {
    position: absolute;
    right: 90px;
    top: 141px;
    margin-top: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px lightgrey;
    width: 470px;
    height: 585px;
}

.info__title{
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
    color: #0972D3;
    font-style: 16px;
    font-weight: 600;
}

.info__subtitles{
    margin-top: 30px;
    margin-left: 50px;
    font-style: 14px;
    font-weight: 600;
}

.info_main_text{
    font-weight: 400;
    margin-top: 5px;
}

.info_edit_button{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 22px;
    border: none;
    cursor: pointer;
    position: relative;
    margin-right: 50px;
    width: 35px;
    height: 27px;
    background: #0972D3;
    border-radius: 40px;
    position: absolute;
    top: 45px;
    right: 10px;
}

.tag_behavior {
    width: 250px;
    box-shadow: 0px 1px 7px rgba(0, 7, 22, 0.14), 0px 0px 2px rgba(65, 77, 92, 0.2);
    border-radius: 8px;
    padding: 8px 22px;
    background-color: F8F8F8;
    display: inline-block;
    margin-right: 25px;
    color: #0972D3;
    font-style: 16px;
    font-weight: 400;
    text-align: center; 
    cursor: pointer;
    position: absolute;
    right: 65px;
    top: 525px;
}

.measurements_container{
    margin-top: 30px;
    margin-left: 50px;
    gap: 20px;
}

.tag_measurement {
    width: 75px;
    height: 75px;
    box-shadow: 0px 1px 7px rgba(0, 7, 22, 0.14), 0px 0px 2px rgba(65, 77, 92, 0.2);
    border-radius: 8px;
    padding: 10px;
    background-color: F8F8F8;
    margin-top: 90px;
    margin-left: 20px;
    color: #0972D3;
    font-style: 16px;
    font-weight: 500;
    display: inline-block;
    cursor: pointer;
}

.temperature_value{
    position: absolute;
    top: 450px;
    right: 340px;
    color: #0972D3;
    font-style: 16px;
    font-weight: 600;
}

.oxygen_value{
    position: absolute;
    top: 450px;
    right: 220px;
    color: #0972D3;
    font-style: 16px;
    font-weight: 600;
}

.pH_value{
    position: absolute;
    top: 450px;
    right: 100px;
    color: #0972D3;
    font-style: 16px;
    font-weight: 600;
}

.alert_tag{
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 4px;
    text-align: center;
    color:white;
    background-color: #D91515;
    font-style: 5px;
    cursor: pointer;
}

.event_tag{
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 4px;
    text-align: center;
    color:white;
    background-color: #D91515;
    font-style: 5px;
    cursor: pointer;
}

